{% extends 'blogs/base.html' %} 


{% block page_header %}
    <div class="p-3 mb-4 bg-light border rounded-3">
        <div class="contaienr-fluid py-4">
            <h1 class="display-3">Record your development journey.</h1>

            <p class="lead">Keep track of what you've learned by creating Blogs
            for your the topcics and technologies you're studying. Create Posts 
            in each Blog to log your journey, and share it so that others can 
            learn from it as well!</p>

            {% if user.is_authenticated %}
                <h4>Welcome back, {{ user.username }}</h4>
            {% else %}
                <a class="btn btn-primary btn-lg mt-1"
                href="{% url 'accounts:register' %}">Register &raquo;</a>
            {% endif %}
        </div>
    </div>
{% endblock page_header %}
